<p>
  <strong>Firstname:</strong>
  <%= @form.firstname %>
</p>
 
<p>
  <strong>Lastname:</strong>
  <%= @form.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @form.email %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @form.phone %>
</p>

<p>
  <strong>Reason for applying:</strong>
  <%= @form.reason %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @form.experience %>
</p>